<header id="header">
    <h1>Anotações</h1>
    <input id="new-note" autofocus>
    <p>
        <input class="colors" type="radio" name="color" value="yellow" checked>Amarelo
        <input class="colors" type="radio" name="color" value="green">Verde
    </p>
    <p>
        <a id="add-note" href="#">adicionar</a>
    </p>
</header>
<section id="main">
    <ul id="note-list"></ul>
    <div id="filters">
        Filtro:
        <a href="#">Todas</a>
        <a href="#/yellow">Amarelas</a>
        <a href="#/green">Verdes</a>
    </div>
</section>
